{% extends "base.html" %}{% load static %}

{% block title %}Play{% endblock %}
{% block content %}

<form action={% url 'play' level id %} method="POST"> {% csrf_token %} {{ themeForm.as_p }} <input type="submit" value="Get Theme" class="btn btn-secondary"> </form>

<canvas id="myCanvas" width="500" height="500" image="{{ background }}"></canvas>

<div>
   <img src="{% static 'game_assets/Heart.png' %}" width="50" height="50">
   <img src="{% static 'game_assets/Heart.png' %}" width="50" height="50">
   <img src="{% static 'game_assets/Heart.png' %}" width="50" height="50">
</div>

<head>
    <style>
      table {
        position: absolute;
        top: 50%;
        right: 100px;
        transform: translate(0, -50%);
        border: 2px solid black;
      }
      td, th {
        border: 1px solid black;
      }
    </style>
</head>
<body>
<table>
    <tr bgcolor="grey" align="center">
        <th width="100">Name</th>
        <th width="100">Highscores</th>
    </tr>
    <tr bgcolor="lightgrey" align="center">
        <td width="100">User</td>
        <td width="100">TimeHigh</td>
    </tr>

</table>

</body>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Your Highscore</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'receiveScore' %}" method="POST">
                {% csrf_token %}
                <div id="score"></div>
                <div id="levelId"></div>
                <input type="submit" name="action" value="Submit High Score" data-value="submit" class="btn btn-outline-success"></input>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %} 
                    <script src="{% static 'game_logic/player.js' %}"></script>
                    <script src="{% static 'game_logic/enemy.js' %}"></script> 
                    <script src="{% static 'game_logic/followingEnemy.js' %}"></script>
                    <script src="{% static 'game_logic/hearts.js' %}"></script>
                    <script src="{% static 'game_logic/collision.js' %}"></script>
                    <script src="{% static 'game_logic/gameplayLoop.js' %}"></script>
{% endblock %}