{% extends "base.html" %}{% load static %}

{% block title %}Play{% endblock %}
{% block content %}

<form action={% url 'play' level id %} method="POST"> {% csrf_token %} {{ themeForm.as_p }} <input type="submit" value="Get Theme" class="btn btn-secondary"> </form>

<canvas id="myCanvas" width="500" height="500" image="{{ background }}"></canvas>


<form action="{% url 'request_submit' %}" method="POST">
    {% csrf_token %}
    
    <input type="submit" name="action" value="Submit High Score" data-value="submit" class="btn btn-outline-success"></input>
</form>
{% endblock %}

{% block scripts %} 
                    <script src="{% static 'game_logic/player.js' %}"></script>
                    <script src="{% static 'game_logic/enemy.js' %}"></script> 
                    <script src="{% static 'game_logic/collision.js' %}"></script>
                    <script src="{% static 'game_logic/gameplayLoop.js' %}"></script>
{% endblock %}